@{
    ViewBag.Title = "Home";
}

<h1>Home</h1>

@{
    PersonGridModel personGridModel = new PersonGridModel()
            {
                GridTitle = "Persons",
                Persons = new List<Person>(){
                   new Person(){ PersonName = "Khalid", JobTitle = "Software Engineer"},
                   new Person(){ PersonName = "Khalid", JobTitle = "Software Engineer"},
                   new Person(){ PersonName = "Khalid", JobTitle = "Software Engineer"},
                   new Person(){ PersonName = "Khalid", JobTitle = "Software Engineer"},
                }
            };
}

@await Component.InvokeAsync("Grid", new {
    // x = 10,
    // y = 20
        personGridModel
});