################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Section 06 - Controllers & IActionResult [MVC]/Controllers_Example/.vs/Controllers_Example/FileContentIndex
/Section 06 - Controllers & IActionResult [MVC]/Controllers_Example/.vs/Controllers_Example/FileContentIndex
