<h1>Home</h1>

@{
    ListModel listModel = new ListModel()
            {
                ListTitle = "Countries",
                ListItems = new List<string>()
        {
            "USA",
            "Canada",
            "UK",
            "Australia",
            "Germany",
        }
            };
}

<partial name="_ListPartialView" model="listModel"></partial>
