@using Section_08_Razor_Views.Models


<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["appTitle"]</title>
    <meta charset="utf-8"/>
</head>
<body>
    <h1>Welcome</h1>
    @{
        List<Person>? people = (List<Person>?)ViewData["people"];
    }

    @foreach(Person person in people){
        <span>Hello to</span>
        <div>
            @person.Name
            <span>, </span>
            <span>@person.PersonGender</span>
        </div>
    }

 </body>
</html>